
.pic-container{
    width: 105%;
    height: 105%;
    display: flex;
    justify-content: center;
    background-image: url("../../images/bg3.jpg");
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    top: 0px;
  }
  
