.education-title-container{
    width:100%;
    display: flex;
    justify-content: center;
}
.education-title{
    font-size: 4rem;
}
.education-container{
    margin: 10px;
    padding: 10px;
    display: flex;
}
.right{
    flex-direction: row-reverse;
    justify-content: right;
}
.left{
    flex-direction: row;
    justify-content: left;
}
.education-inner-container{
    padding: 10px;
    border-radius: 10px;
    background-color: red;

}