.third-content{
    width:100%;
    height: 100%;
    padding:30px;
    /* display:flex; */
    /* flex-wrap: nowrap; */
}
.third-title{
    width:50%;
}
.third-inner-content{
    display:flex;
    width:100%;
    height: 100%;
}

.all-bar-container{
    /* width: 100%; */
    height: 80%;
    display: flex;
    padding-top: 2%;
}
.progress-bar-container{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 70px;
    height: 100%;
    margin: 0 20px 0 20px;
    align-items: center;
    
}
.progress-bar{
    width: 30px;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 3px 5px 20px 1px rgba(44, 46, 68, 1) inset;

}
.progress-bar-progress{
    width: 100%;
    background-image: linear-gradient(135deg, #4b6cb7 10%, #182848 90%);
        border-radius: 15px;
}
.bar-label{
padding-top: 10px;    
}

#HTML-progress{
    background-image: linear-gradient(315deg, #be4bdb 5%, #9775fa 95%);
}

#CSS-progress{
    background-image: linear-gradient(315deg, #228be6 5%, #3bc9db 95%);
}

#JavaScript-progress{
    background-image: linear-gradient(315deg, #fd7e14 5%, #ffd43b 95%);
}

#React-progress{
    background-image: linear-gradient(315deg, #e64980 5%, #ff8787 95%);
}

#Git-progress{
    background-image: linear-gradient(315deg, #82c91e 5%, #38d9a9 95%);
}

.additional-info-container{

}
