

  @media only screen and (min-width: 1024px) {
    .card-body{
      width: 15vw;
      min-width: 200px;
      height: 52vh;
      min-height: 300px;
      background-color: aliceblue;
      border-radius: 10px;
      transition: 2s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inner-card-body{
        width: 95%;
        height: 97%;
        border-radius: 10px;
        background-color: red;
        display: flex;
        justify-content: center;
    }
    #about-card-one{
        grid-area: 2 / 1 / 4 / 2;
      }
      #about-card-two{
        grid-area: 3 / 2 / 5 / 3; 
      }
      #about-card-three{
        grid-area: 2 / 3 / 4 / 4;
      }
      #about-card-four{
        grid-area: 3 / 4 / 5 / 5;
      }
}