@media (min-width: 1024px) {
.projects-container{
    width: 100vw;
    height: 52vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-inner-content{

    position: absolute;
    margin: auto;
    display: grid;
    grid-auto-flow:column;
    overflow: hidden;  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    align-items: center;
}

.project-btn{
    z-index: 10;
    position: absolute;
    width: 75px;
    height: 75px;
    color: white;
    background-color: rgba(10, 10, 10, .8);
    border: none;
    border-radius: 50%;
}
.prev-btn{
    left: 20vw;
}
.next-btn{
    right: 20vw;
}
}