.project-frame{
    background-color:aqua;
    margin: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.active{
    width: 55vw;
    height: 60vh;
    grid-area: 1 / 2 / 2 / 3;
}

.inactive{
    width: 25vw;
    height: 30vh;
    position: absolute;
}

.prev{grid-area: 1 / 1 / 2 / 2;
    left: -13vw;
    transform: perspective(500px) rotateY(-25deg);}


.next{grid-area: 1 / 3 / 2 / 4;
    right: -13vw;
    transform: perspective(500px) rotateY(25deg);}


