

.shadow-about {
    width: 100%;
    height: 15vh;
    position: absolute; 
}

.shadow-top{
  background-image: linear-gradient(0deg, rgba(10,10,15, 1) 0%, rgba(10,10,15, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  top: -15vh;
}
.shadow-bot{
  background-image: linear-gradient(180deg, rgba(10,10,15, 1) 0%, rgba(10,10,15, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  bottom: -15vh;
}

.about-section{
    width: 100%;
    height: 100vh;
    background-color: rgba(10,10,15, 1);
    position: absolute;
  }
  
.about-container{
    width: 100%;
    height: 120vh;
    background-size: cover;

    margin-top: -5vh;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.about-title{
color: white;}