@media (min-width: 640px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1024px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

.shadow-about {
    width: 100%;
    height: 15vh;
    position: absolute; 
}

.shadow-top{
  background-image: linear-gradient(0deg, rgba(10,10,15, 1) 0%, rgba(10,10,15, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  top: -15vh;
}
.shadow-bot{
  background-image: linear-gradient(180deg, rgba(10,10,15, 1) 0%, rgba(10,10,15, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  bottom: -15vh;
}

.about-section{
    width: 100%;
    height: 100vh;
    background-color: rgba(10,10,15, 1);
    position: absolute;
  }
  
.about-container{
    width: 100%;
    height: 120vh;
    background-size: cover;

    margin-top: -5vh;
    padding-top: 10vh;
    padding-right: 5vw;
    display: grid;

    padding: 10vh 10vw 0 10vw;

    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: 10vh repeat(3, 26vh) 10vh;
    grid-column-gap: 1vw;
    grid-row-gap: 0px;
}
  
.about-title{
color: white;}

#about-card-one{
  grid-area: 2 / 1 / 4 / 2;
}
#about-card-two{
  grid-area: 3 / 2 / 5 / 3; 
}
#about-card-three{
  grid-area: 2 / 3 / 4 / 4;
}
#about-card-four{
  grid-area: 3 / 4 / 5 / 5;
}

.card-body{
  width: 15vw;
  min-width: 200px;
  height: 52vh;
  min-height: 300px;
  background-color: aliceblue;
  border-radius: 10px;
  transition: 2s;
}