@media (min-width: 640px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1024px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

.shadow-about {
    width: 100%;
    height: 15vh;
    position: absolute; 
}

.shadow-top{
  background-image: linear-gradient(0deg, rgba(10,10,15, 1) 0%, rgba(10,10,15, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  top: -15vh;
}
.shadow-bot{
  background-image: linear-gradient(180deg, rgba(10,10,15, 1) 0%, rgba(10,10,15, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  bottom: -15vh;
}

.about-section{
    width: 100%;
    height: 100vh;
    background-color: rgba(10,10,15, 1);
    position: absolute;
  }
  .about-container{
    width: 100%;
    height: 120vh;
    background-size: cover;
  }

.about-title{
    color: white;}

.card-body{
      background-color: aliceblue;
      border-radius: 10px;
      transition: 2s;
      display: flex;
    }

#profile-pic{
  width: 200px;
  height: 200px;

  border-radius: 50%;
}

@media only screen and (min-width: 1024px) {
.about-container{
    margin-top: -5vh;

    padding: 10vh 5vw 0 8vw;

    display: grid;


    grid-template-columns: repeat(4, 23vw);
    grid-template-rows: 3vh repeat(3, 26vh) 5vh;
    grid-column-gap: vw;
    grid-row-gap: 0px;
}

.card-body{
  width: 15vw;
  min-width: 200px;
  height: 52vh;
  min-height: 300px;
}
}

@media only screen and (min-width: 700px) and (max-width: 1023px) {
  .about-section{
    height: 130vh;
  }
  .about-container{
      margin-top: -5vh;
      padding: 15vh 0 0 0;

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
    }
    
  .card-body{
    width: 40vw;
    min-width: 200px;
    height: 52vh;
    min-height: 300px;
  }
}

@media only screen and (max-width: 699px){
  .about-section{
    height: 250vh;
  }
  .about-container{
      margin-top: -5vh;
      padding: 15vh 0 0 0;

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
    }
  .card-body{
    width: 60vw;
    min-width: 200px;
    height: 52vh;
    min-height: 300px;
    margin-bottom: 50px;
  }
}